@import url(./reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;700&display=swap');
/* font-family: 'Spline Sans Mono', monospace; */

/* BOTON APRETADO
transform: translateY(1px);
box-shadow: none; */

*{
    box-sizing: border-box;
}

:root{
    --font:'Spline Sans Mono', monospace;
}

img{
    width: 100%;
    height: auto;
    display: block;
}
/* ---------------------------------------------------------------------------INICIO HEADER */
header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 1.5em;
}

h1{
    font-weight: bold;
    color: gainsboro;
    font-family: var(--font);
    font-size: 1.5em;
}

header p{
    font-weight: bold;
    font-size: 1.5em;
    font-family: var(--font);
    color: gainsboro;

}
/* ------------------------------------------------------------------------FINAL HEADER */

/* -------------------------------------------------------------------MENU BUSCADOR ADDTASK */

.menu{
    padding: 1em;
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
}

.addTask, .search{
    width: 50px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: 50%;
    box-shadow: 3px 3px 3px grey;
}

/* .openAddTask{
    width: 200px;
} */

.addTask:hover{
    transform: translateY(-2px);
    box-shadow: 4px 4px 4px grey;
}

.search:hover{
    box-shadow: 4px 4px 4px grey;
    transform: translateY(-2px);
}

.addTask i, .search i{
    color: white;
    background-color: grey;
    border-radius: 50%;
    padding: 0.5em;
    box-shadow: 1px 1px 1px grey;
    /* margin-right: 1em; */
}

select{
    display: none;
    margin-left:1em ;
    width: 100px;
}
input{
    display: none;
}

/* FINAL MENU ADDTASK SEARCH-------------------------------- */

/* INICIO TASKBOX------------------------------- */

section{
    background-color: whitesmoke;
    height: 100vh;
}

article{
    background-color: gainsboro;
    margin: 1em auto;
    width: 85%;
    border-radius: 40px;

    padding: 2em;
    box-shadow: 3px 3px 3px grey;
    position: relative;
}

article:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px grey;
    transition: 0.2s;
}

h3{
    margin-left: 1rem;
    font-family: var(--font);
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
}

p{
    margin-left: 1rem;
    font-family: var(--font);
    font-size: 0.9em;
}

.deleteZone{
    position: absolute;
    right: 40px;
    bottom: 10px;
}

.deleteZone>i{
    border-radius: 50%;
    padding: 5px;
    color: white;
    background-color: red;
}

/* FINAL TASKBOX---------------------------------------- */

/* PRIORIDAD TAREAS------------------------------------- */

.baja{
    background-color: lightblue;
    border: 1px solid darkblue;
}

.media{
    background-color: lightgreen;
    border: 1px solid darkgreen;
}

.alta{
    background-color: lightcoral;
    border: 1px solid darkred;
}

/* FINAL PRIORIDADES------------------------------------- */

/* MEDIAQUERYS */

@media(min-width: 850px){
    .flex{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    article{
        margin: 2em 1em;
        width: calc(25% - 2em);
        min-height: 200px;
    }

    .deleteZone{
        position: absolute;
        right: 20px;
        bottom: 20px;
    }

    .deleteZone>i{
        border-radius: 50%;
        padding: 10px;
        color: white;
        background-color: red;
    }

    .task>p{
        width: 75%;
    }

}

